---
layout: layouts/base.njk
bestSellingBackpacksCount: 3
---

<div>
  <h1>Best-Selling Backpacks</h1>

  {% set backpacksList = backpacks.slice(0, bestSellingBackpacksCount)%}
  {% include "backpacks.njk" %}

  <p>Explore now pay later with Affirm</p>

  Featured Collections

</div>