---
layout: layouts/base.njk
eleventyNavigation:
  key: HMG Home
  order: 1
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="hmg">
  <h1>Best Selling Backpacks</h1>

  {# list of backpacks here #}
  {% include "backpacks.njk" %}

  <p>Explore now pay later with Affirm</p>

  Featured Collections

</div>