.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid tomato; */
  box-shadow: 0 3px 6px #70707066;
}

.card--center {
  align-items: center;
}

.card__image {
  
}

.card__button {

}

.card__details {
  padding: 0rem 1rem;
}